<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="assets/bootstrap.min.css">
</head>
<body>
    @RenderBody()
    @if (ViewBag.RenderReact == true)
    {
        <script type="text/javascript" asp-src-include="assets/bundle.js"></script>
    }
</body>
</html>