@page
@model Pet.Hosting.Pages.IndexModel

<div id="app-container"></div>
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=@Model.ApiKey" type="text/javascript"></script>
<script type="text/javascript" asp-src-include="assets/bundle.js"></script>